@media print, (max-width: 767px)
{
    /*-------------------
        Global styles
    -------------------*/
    :root
    {
        --font_size_title: 30px;
    }


    .block
    {
        margin-bottom: 60px;
    }

    .block.bg
    {
        padding: 60px 0;
    }



    .owl-dot + .owl-dot
    {
        margin-left: 10px;
    }



    /*------------
        Header
    ------------*/
    header
    {
        padding: 20px 0;
    }


    header .logo a,
    header .logo img
    {
        width: 160px;
    }


    header .phone
    {
        display: none;
    }


    header .mob_menu_btn
    {
        margin-left: auto;
    }



    #search_modal
    {
        padding: 90px 0 50px;
    }


    #search_modal .close
    {
        width: 67px;
        height: 60px;

        border-radius: 0 0 0 25px;
    }

    #search_modal .close:before,
    #search_modal .close:after
    {
        width: 30px;
    }


    #search_modal .often_search
    {
        margin-top: 40px;
    }

    #search_modal .often_search .title
    {
        font-size: 28px;

        margin-bottom: 15px;
    }

    #search_modal .often_search .links > *
    {
        width: calc(50% - 20px);
    }



    /*-------------
        Sidebar
    -------------*/
    aside
    {
        margin-top: 40px;

        column-gap: 0;
        column-count: 1;
    }


    aside .block_title
    {
        font-size: 26px;
    }



    aside .you_want .title
    {
        font-size: 20px;
    }



    /*---------------
        Page head
    ---------------*/



    /*----------------
        Block head
    ----------------*/
    .block_head
    {
        margin-bottom: 20px;
    }



    /*------------------
        Form elements
    ------------------*/



    /*----------------
        Typography
    ----------------*/
    .text_block > *
    {
        margin-bottom: 20px;
    }


    .text_block h1
    {
        font-size: 28px;
    }

    .text_block h2
    {
        font-size: 24px;

        margin-bottom: 10px;
    }

    .text_block h3
    {
        font-size: 22px;

        margin-bottom: 10px;
    }

    .text_block h4
    {
        font-size: 17px;
    }


    .text_block img
    {
        margin-top: 30px;
        margin-bottom: 30px;
    }


    .text_block ol li + li
    {
        margin-top: 15px;
    }


    .text_block .columns
    {
        column-gap: 0;
        column-count: 1;
    }



    /*-----------------
        Main slider
    -----------------*/
    .main_slider .slide .cont
    {
        padding-bottom: 110px;
    }


    .main_slider .slide .img
    {
        height: 300px;
    }


    .main_slider .slide .title
    {
        font-size: 48px;
    }

    .main_slider .slide .desc
    {
        margin-top: 25px;
    }


    .main_slider .owl-carousel .owl-nav button
    {
        bottom: 29px;

        width: 40px;
        height: 40px;
    }

    .main_slider .owl-carousel .owl-nav button.owl-prev
    {
        right: 70px;
    }


    .main_slider .count
    {
        font-size: 50px;
        line-height: 100%;

        right: 130px;
        bottom: 20px;
    }



    /*--------------
        Services
    --------------*/
    .services .row
    {
        margin-bottom: -20px;
        margin-left: -20px;
    }

    .services .row > *
    {
        width: calc(100% - 20px);
        margin-bottom: 20px;
        margin-left: 20px;
    }


    .services .service .name
    {
        margin-bottom: 30px;
    }



    /*----------------------
        Popular services
    ----------------------*/
    .popular_services .tabs button
    {
        font-size: 18px;
        line-height: 110%;

        width: calc(50% - 20px);
        min-height: 45px;
        margin-bottom: 5px;
        padding: 11px 15px;
    }



    /*--------------
        Why sure
    --------------*/
    .why_sure .row
    {
        padding-top: 10px;

        justify-content: center;
    }

    .why_sure .row > *
    {
        width: 300px;
        max-width: calc(100% - 40px);
    }



    /*----------------
        Advantages
    ----------------*/
    .advantages .row > *
    {
        width: 300px;
        max-width: calc(100% - 40px);
    }



    /*-------------
        Complex
    -------------*/
    .complex
    {
        padding: 75px 0 20px;
    }



    /*--------------
        Articles
    --------------*/
    .articles .row
    {
        --articles_count: 1;
    }

    .articles .row > *
    {
        width: calc(100% - 20px);
    }


    .articles .article
    {
        padding: 25px 20px;
    }

    .articles .article .name
    {
        font-size: 19px;
    }



    /*------------------
        Article info
    ------------------*/
    .article_info .bottom
    {
        margin-top: 40px;
        padding-top: 20px;
    }



    /*------------------------
        Prev Next articles
    ------------------------*/
    .prev_next_articles .article
    {
        padding: 20px 20px 30px;
    }

    .prev_next_articles .article .name
    {
        font-size: 17px;
    }

    .prev_next_articles .article .arr
    {
        width: 121px;
        margin-top: 20px;
    }



    /*------------------
        Service head
    ------------------*/
    .service_head
    {
        padding: 80px 0 60px;
    }


    .service_head .breadcrumbs
    {
        margin-bottom: 60px;
    }


    .service_head .data
    {
        max-width: 100%;
    }

    .service_head .data .title
    {
        font-size: 48px;
    }

    .service_head .data .links
    {
        margin-top: 20px;
        margin-left: -20px;
    }

    .service_head .data .links > *
    {
        max-width: calc(100% - 20px);
        margin-left: 20px;
    }

    .service_head .data .links a,
    .service_head .data .links button
    {
        font-size: 15px;
        line-height: 125%;

        padding: 11px 25px;
    }


    .service_head .form
    {
        width: 100%;
        margin-top: 40px;
        padding: 40px;
    }



    /*------------------
        Service info
    ------------------*/
    .service_info .img
    {
        width: 280px;
        margin-bottom: 25px;
    }


    .service_info .data .title
    {
        font-size: 32px;

        margin-bottom: 20px;
    }

    .service_info .data .links
    {
        margin-top: 20px;
        margin-left: -20px;
    }

    .service_info .data .links > *
    {
        max-width: calc(100% - 20px);
        margin-left: 20px;
    }

    .service_info .data .links a,
    .service_info .data .links button
    {
        font-size: 15px;
        line-height: 125%;

        padding: 11px 25px;
    }



    /*--------------
        Projects
    --------------*/
    .projects .block_head
    {
        margin-bottom: 25px;
    }


    .projects .tabs button
    {
        font-size: 18px;
    }


    .projects .row > *
    {
        width: calc(50% - 20px);
    }


    .projects .project .logo,
    .projects .project .details
    {
        bottom: 10px;

        width: calc(100% - 40px);
        height: 60px;
    }



    /*-------------
        Tariffs
    -------------*/
    .tariffs
    {
        padding: 60px 0;
    }


    .tariffs .row
    {
        --tariffs_count: 1;
    }

    .tariffs .row > *
    {
        width: calc(100% - 20px);
    }


    .tariffs .tariff
    {
        padding: 25px 25px 30px;
    }

    .tariffs .tariff .sticker
    {
        font-size: 20px;

        top: -20px;
    }

    .tariffs .tariff .name
    {
        font-size: 26px;

        margin-bottom: 15px;
    }



    /*-----------------------
        Strategy/Timeline
    -----------------------*/
    .strategy_timeline
    {
        padding: 60px 0;
    }


    .strategy_timeline .month .features
    {
        column-count: 1;
    }

    .strategy_timeline .month .features .item
    {
        min-height: 72px;
        padding-left: 70px;
    }

    .strategy_timeline .month .features .item:before
    {
        font-size: 40px;
        line-height: 125%;
    }



    /*-----------------
        Action plan
    -----------------*/
    .action_plan
    {
        padding: 60px 0;
    }


    .action_plan .row > *
    {
        width: calc(100% - 20px);
    }


    .action_plan .step
    {
        padding: 0 25px 30px;
    }




    /*----------------
        What we do
    ----------------*/
    .what_we_do .block_head .desc
    {
        font-size: 16px;
    }


    .what_we_do .row > *
    {
        width: calc(100% - 20px);
    }



    /*-----------------
        Action form
    -----------------*/
    .action_form
    {
        padding: 50px 0;
    }


    .action_form .img
    {
        display: none;
    }


    .action_form .data
    {
        width: 100%;
    }



    /*---------
        Faq
    ---------*/
    .faq .item .head
    {
        padding: 15px 65px 15px 20px;
    }

    .faq .item .title
    {
        font-size: 18px;
    }

    .faq .item .data
    {
        margin-top: 0;
        padding: 0 20px 20px 20px;
    }



    /*------------------
        Has question
    ------------------*/
    .has_question
    {
        padding: 50px 0;
    }


    .has_question .img
    {
        display: none;
    }


    .has_question .title
    {
        font-size: 26px;

        width: 100%;
    }

    .has_question .btn
    {
        margin-top: 20px;
        margin-right: auto;
        margin-left: 0;
    }



    /*--------------
        You want
    --------------*/
    .you_want
    {
        padding: 50px 0;
    }


    .you_want .img
    {
        display: none;
    }


    .you_want .title
    {
        font-size: 26px;

        width: 100%;
    }

    .you_want .btn
    {
        margin-top: 20px;
        margin-right: auto;
        margin-left: 0;
    }



    /*--------------------
        Our philosophy
    --------------------*/
    .our_philosophy .center
    {
        margin-bottom: 30px;
    }


    .our_philosophy .block_head .desc
    {
        font-size: 16px;
    }


    .our_philosophy .stats .row > *
    {
        width: calc(50% - 15px);
    }


    .our_philosophy .stats .item
    {
        font-size: 16px;
    }


    .our_philosophy .big_boss
    {
        font-size: 18px;
    }

    .our_philosophy .big_boss .photo
    {
        margin-bottom: 20px;
    }

    .our_philosophy .big_boss .post
    {
        font-size: 16px;
    }



    /*-------------------
        About shortly
    -------------------*/
    .about_shortly
    {
        padding: 60px 0;
    }


    .about_shortly .block_head
    {
        width: 100%;
        max-width: 100%;
        margin-bottom: 30px !important;
    }

    .about_shortly .block_head .desc
    {
        margin-top: 25px;
    }


    .about_shortly .image
    {
        width: 100%;
        max-width: 100%;
    }



    /*-------------
        Reviews
    -------------*/
    .reviews .slider
    {
        padding-bottom: 60px;
    }



    /*-------------
        History
    -------------*/
    .history
    {
        padding: 55px 0 40px;
    }


    .history .tabs
    {
        font-size: 0;

        display: block;
        overflow: auto;

        width: calc(100% + 40px);
        height: 38px;
        margin: 0 -20px 25px;
        padding: 0 20px;

        white-space: nowrap;
    }

    .history .tabs::-webkit-scrollbar
    {
        width: 0;
        height: 0;
    }

    .history .tabs button
    {
        font-size: 28px;
        line-height: 32px;

        display: inline-block;

        height: 32px;

        vertical-align: top;
    }



    /*------------
        Footer
    ------------*/
    footer .info .col_left,
    footer .info .links
    {
        width: calc(50% - 15px);
    }


    footer .info .col_right
    {
        width: 100%;
        margin-top: 30px;
    }


    footer .copyright
    {
        width: 100%;
    }


    footer .socials
    {
        margin-top: 10px;
    }



    /*-----------
        PopUp
    -----------*/
    .fancybox-slide--html
    {
        padding: 20px;
    }


    .fancybox-slide--html .fancybox-close-small
    {
        width: 67px;
        height: 60px;
        padding: 10px;

        border-radius: 0 0 0 25px;
    }


    .project_info .head .name
    {
        font-size: 26px;

        width: 100%;
        max-width: 100%;
    }

    .project_info .head .right
    {
        width: 100%;
        margin-top: 15px;

        text-align: left;
    }

    .project_info .head .right > * + *
    {
        margin-top: 10px;
    }

    .project_info .head .link
    {
        font-size: 18px;
    }

    .project_info .head .period
    {
        line-height: 125%;
    }



    .project_info .result .title,
    .project_info .tasks .title
    {
        font-size: 18px;
        line-height: 20px;
    }



    .project_info .tasks .data
    {
        font-size: 15px;

        padding: 19px;
    }

    .project_info .tasks .items > *
    {
        background-position: 4px 2px;
    }



    .project_info .about_client .logo
    {
        width: auto;
    }


    .project_info .about_client .text_block
    {
        width: 100%;
        margin-top: 20px;
        margin-left: 0;
    }



    .project_info .tasks_row .row > *
    {
        width: calc(50% - 20px);
    }



    .project_info .work_progress .text_block img
    {
        width: calc(100% + 40px);
        max-width: calc(100% + 40px);
        margin: 25px -20px;
    }



    .project_info .results .result + .row
    {
        margin-top: 30px;
    }

    .project_info .results .row > *
    {
        width: calc(100% - 20px);
    }



    .project_info .review .thumb
    {
        width: 100%;
        margin: 0 0 20px;
    }


    .project_info .review .text_block
    {
        width: 100%;

        order: 2;
    }



    /* .project_info .image .block_title
    {
        font-size: 24px;
    } */


    /* .project_info .already_helped .block_title
    {
        font-size: 28px;
    }

    .project_info .already_helped .row
    {
        margin-bottom: -20px;
    }

    .project_info .already_helped .row > *
    {
        width: calc(100% - 30px);
        margin-bottom: 20px;
    } */
}
